In [2]:
# 1.Write a Python program to create a tuple.

x = (5,9,6,5,8)
type(x)

tuple

In [3]:
# 2.Write a Python program to create a tuple with 
# different data types.

y = (1,3,6.7,"hello","Tyagi","G")
type(y)

tuple

In [4]:
# 3.Write a Python program to create a tuple with 
# numbers and print one item.

x = (5,9,6,5,8)
print(5)

5

In [5]:
# 4.Write a Python program to add an item in a tuple.

x = (5,9,6,5,8)
y = list(x)

In [6]:
#5 Write a Python program to convert a tuple to a string.
x = ("hello",)
y = str(x)

In [7]:
y

"('hello',)"

In [8]:
type(y)

str

In [10]:
#6

x = [(45,90,75,60,23)]
k = 5
for i in x:
    for j in i:
        if j%k == 0:
            print("div")
        else:
            print("not div")

div
div
div
div
not div

In [15]:
# 14. find the comman element from the list.
# x = [1,2,3,4]
# y = [45,78,2,90]

x = [1,2,3,4]
y = [45,78,2,90]
for i in x:
    for j in y:
        if i == j:
            print("similar",i,j)
        else:
            print("not similar")

not similar
not similar
not similar
not similar
not similar
not similar
similar 2 2
not similar
not similar
not similar
not similar
not similar
not similar
not similar
not similar
not similar

In [19]:
# wap to make single element dictonary

x = {
    1:0
}
print(x)
type(x)

{1: 0}

dict

In [1]:
x=[1,2,3,4]
list(map(lambda a:a*3,x))

[3, 6, 9, 12]

In [2]:
#wap  to triple all no of a given list of integers. Use python map.
a= [2,4,5,67,89,7]

def fun(a):
    return a*3
list(map(fun,a))

[6, 12, 15, 201, 267, 21]

In [3]:
a=lambda p,q,r,s,t:(p+q+r+s+t)/5
a(1,2,3,4,5)

3.0

In [4]:
#wap to add three given list using python map & lambda.
a= [45,6,77,890,34]

def fun(a):
    return a+3

list(map(fun,a))

[48, 9, 80, 893, 37]