In [1]:
# wap to find max no. from three no. using function.

def maxof(a,b,c):
    if a>b and a>c:
        return a
    elif b>c and b>a:
        return b
    else:
        return c
maxof(3,5,4)

5

In [ ]:
# wap to find min no. from three no. using function.

In [16]:
#wap sum all no. present in a list.

def list1(a):
    a = [1,2,3,4,5,6]
    for i in a:
        i = a+i
        return list1()

In [1]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

In [2]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [3]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [4]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [5]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [6]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: list.append() takes exactly one argument (2 given)

In [7]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [8]:
var= "James Bond"
print(var[2::-1])

maJ

In [9]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [10]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(1, "Vicki")
print(sampleSet)

TypeError: set.add() takes exactly one argument (2 given)

In [11]:
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement" )

1
2
3
4
this is else block statement

In [12]:
str = "pynative"
print (str[1:3])

yn

In [13]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [14]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
print(0.1 + 0.2 == 0.3)

False

In [2]:
print(0xA + 0xB + 0xC)

33