In [2]:
# Print First 10 natural numbers using while loop
i = 1
while i<= 10:
    print (i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [10]:
i = 1
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
# Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

num = 10
num += num
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [16]:
# Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number
s = 0
n = int(input("Enter no."))
for i in range(1,n+1,1):
    s += i
print("\n")
print("sum is:",s)

Enter no.11


sum is: 66

In [2]:
a = ["vishal", "ram", "nam", "kaam"]
for i in a:
    print(i)

vishal
ram
nam
kaam

In [5]:
for i in range(11,7,-1):
    print(i)

11
10
9
8

In [6]:
for i in range(7,11):
    print(i)

7
8
9
10

In [7]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
for i in range(5):
    print("Hello World!!" ,i)

Hello World!! 0
Hello World!! 1
Hello World!! 2
Hello World!! 3
Hello World!! 4

In [1]:
n = int(input("enter the number -:"))
total = 0
for i in range(1,n+1):
    total += i
print(total)

enter the number -:10
55

In [2]:
#What will be the output of the following Python code?
num=[1,2,3,4,5,6,7,8]
print(num.index(num[num[5]]))

6

In [3]:
a = [1, 2, 3]
for v in a:
  　a.append(v * 2)

SyntaxError: invalid non-printable character U+2007 (389529109.py, line 3)

In [4]:
from math import factorial as f
df = {n : f(n) for n in range(4)}
print(df)

{0: 1, 1: 1, 2: 2, 3: 6}