In [4]:
# wap to find the sum of first n natural numbers using while loop
num = int(input("Enter the number"))

if num <0:
    print("Enter a positive number")
else:
    sum = 0
    while(num > 0):
        sum += num
        num -= 1
    print("the sum is ", sum)

Enter the number5
the sum is  15

In [5]:
# wap to calculate the factorial of a given number using for loop 

# n! = 1 x 2 x 3 x 4 x 5. . . . . . . x n

num = int(input("Enter a number : "))
factorial = 1
for i in range(1, num+1):
    factorial = factorial * i
print(f"The factorial of {num} number is {factorial}") # in this line i use f-string

Enter a number : 4
The factorial of 4 number is 24

In [6]:
# wap to print the star pattern 
#   *
#   ** 
#   ***

n = 4

for i in range(4):
    print("*" * i)

*
**
***

In [7]:
n = 4

for i in range(4): # bcz range is starts with 0 
    print("*" * (i+1))

*
**
***
****

In [8]:
# wap to print the star pattern 
#     *
#    *** 
#   *****

n = 3
for i in range(3):
    print(" " * (n-i-1), end="")
    print("*" * (2*i+1), end="")
    print(" " * (n-i-1))

  *
 ***
*****

In [9]:
# Reverse Multiplication Table using For Loop in Python

table = int(input("Enter the table: "))

limit = int(input("Enter the ending : "))

for i in range(limit,0,-1):
    print(i,"*",table,"=",i*table)

Enter the table: 9
Enter the ending : 10
10 * 9 = 90
9 * 9 = 81
8 * 9 = 72
7 * 9 = 63
6 * 9 = 54
5 * 9 = 45
4 * 9 = 36
3 * 9 = 27
2 * 9 = 18
1 * 9 = 9