## loop

In [4]:
# while loop

i = 0
while i<10:
    print("yes" + str(i))
    i = i + 1

yes0
yes1
yes2
yes3
yes4
yes5
yes6
yes7
yes8
yes9

In [5]:
# wap to print 1 - 50 using while loop

i = 1
while i<=50:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [6]:
i = 0
while i<5:
    print("Tyagi")
    i = i+1

Tyagi
Tyagi
Tyagi
Tyagi
Tyagi

In [7]:
fruits = ['banana','watermelon','grapes','mangoes']
i = 0
while i<len(fruits):
    print(fruits[i])
    i = i+1

banana
watermelon
grapes
mangoes

In [9]:
fruits = ['banana','watermelon','grapes','mangoes']
for fruit in fruits:
    print(fruit)

banana
watermelon
grapes
mangoes

In [10]:
l = [1,7,8]
for i in l:
    print(i)

1
7
8

In [11]:
# range
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [12]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [13]:
for i in range(3,8):
    print(i)

3
4
5
6
7

In [14]:
for i in range(1,8,3):
    print(i)

1
4
7

In [15]:
l = [1,7,8]
for item in l:
    print(item)
else:
    print("Done")

1
7
8
Done

In [16]:
for i in range(10):
    print(i)
else:
    print("this is inside else of for")

0
1
2
3
4
5
6
7
8
9
this is inside else of for

In [17]:
# break
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [21]:
for i in range(10):
    print(i)
    if i == 5:
        break
else:
    print("this is inside else of for") # ye loop ke successful termination pr hi execute hota h

0
1
2
3
4
5

In [25]:
# continue
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [27]:
for i in range(10):
    if i == 5:
        continue
    print(i)
else:
    print("this is inside else of for")

0
1
2
3
4
6
7
8
9
this is inside else of for

In [28]:
i = 4
if i>0:
    pass # pass is null statement - means do nothing
print("Tyagi is a good boy")

Tyagi is a good boy

In [31]:
# pratice set

# wap to print a table of given number by using for loop

num = int(input("Enter the number "))
for i in range(1,11):
    print(str(num) + " x " + str(i) + " = " + str(i*num))

Enter the number 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [32]:
num = int(input("Enter the number "))
for i in range(1,11):
    print(f"{num}x{i} = {num*i}") # it is called f string

Enter the number 4
4x1 = 4
4x2 = 8
4x3 = 12
4x4 = 16
4x5 = 20
4x6 = 24
4x7 = 28
4x8 = 32
4x9 = 36
4x10 = 40

In [35]:
num = int(input("Enter the number "))
for i in range(1,11):
    print(str(num) + " x " + str(i) + " = " + str(i*num))

Enter the number 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [36]:
# wap to greet all the person names stored in a list l1 & which starts with s
# ["harry","subham","rahul","sachin"]

l1 = ["harry","subham","rahul","sachin"]

for name in l1:
    if name.startswith("s"):
        print("Hello " + name)

Hello subham
Hello sachin

In [37]:
num = int(input("Enter a number"))
i = 0
while i<=10:
    print(str(num) + " x " + str(i) + " = " + str(i*num))
    i = i+1

Enter a number5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [47]:
# wap to find weather a given number is prime(only divided by 1 and self ) or not

num = int(input("Enter the number "))
for i in range(2,num):
    if(num%i == 0):
        print("this number is prime")
    else:
        print("number is not prime")

Enter the number 6
this number is prime
number is not prime
number is not prime

In [49]:
# wap to find weather a given number is prime

num = int(input("Enter the number "))
prime = True

for i in range(2,num):
    if(num%i == 0):
        prime = False
        break
if prime:
    print("this number is prime")
else:
    print("number is not prime")

Enter the number 7
this number is prime