In [1]:
print("Hello world")

Hello world

In [2]:
import os

In [4]:
import tensorflow

## comments

In [5]:
# comments

In [9]:
'''
it is use for multiline comments

such as example that
'''

'\nit is use for multiline comments\n\nsuch as example that\n'

In [10]:
# wap to write a poem

print('''Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.''')

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

In [11]:
# print table of 5 by using repl

print(5*1)
print(5*2)
print(5*3)
print(5*4)
print(5*5)
print(5*6)
print(5*7)
print(5*8)
print(5*9)
print(5*10)

5
10
15
20
25
30
35
40
45
50

In [12]:
import os
print(os.listdir())

['.ipynb_checkpoints', 'data collection day 7.ipynb', 'data collection day 8.ipynb', 'Dictonary day 10.ipynb', 'function questions.ipynb', 'function.ipynb', 'if_else_condition day 5.ipynb', 'list day 9.ipynb', 'loop day 6.ipynb', 'Project Bank mang. System.ipynb', 'python day 11.ipynb', 'python day 12 revision.ipynb', 'python day 13.ipynb', 'python day 2 .ipynb', 'python day 3.ipynb', 'python day 4.ipynb', 'python day1.ipynb', 'python test questions.ipynb', 'Tuple day 9.ipynb']

## variables and datatype

In [15]:
a = "Vishal" # string
b = 345      # integer
c = 45.32    # float
d = bool     # boolean
e = None     # none
# print the type

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'type'>
<class 'NoneType'>

## operators in python

In [17]:
a = 3
b = 4

# arithmatic operator

print("The value of 3+4 is ", 3+4)
print("The value of 3-4 is ", 3-4)
print("The value of 3*4 is ", 3*4)
print("The value of 3/4 is ", 3/4)

The value of 3+4 is  7
The value of 3-4 is  -1
The value of 3*4 is  12
The value of 3/4 is  0.75

In [18]:
# assignmet operators

a = 34
a += 2
print(a)

36

In [19]:
a = 34
a -= 2
print(a)

32

In [20]:
a = 34
a *= 2
print(a)

68

In [22]:
a = 34
a /= 2
print(a)

17.0

In [23]:
a = 34
a += 2
a -= 2
a *= 2
a /= 2
print(a)

34.0

In [25]:
# comperision operator

b = (4>7)
print(b)

False

In [26]:
b = (4>7)
b

False

In [27]:
b = (14>=7)
print(b)

True

In [28]:
b = (4==7)
print(b)

False

In [29]:
b = (4!=7)
print(b)

True

In [ ]:
# logical operator

# and, or, not

bool1 = True
bool2 = False
print("The value of bool1 and bool2 is",(bool1 and bool2))
print("The value of bool1 or bool2 is",(bool1 or bool2))
print("The value of not bool2 is",(not bool2))

## typecasting or typeconversion

In [32]:
a = "3456"
a =int(a)
print(type(a))
print(a+3)

<class 'int'>
3459

In [33]:
# input function

a = input("enter your name") # its always gives an integer

enter your nameVishal

In [34]:
# wap add two numbers
a = 3
b = 5
print("The sum of a and b is", a+b)

The sum of a and b is 8

In [35]:
# wap to find remainders when a number is divided by 2

a = 45
b = 4
print("The remainder when a is divided by b is", a%b)

The remainder when a is divided by b is 1

In [36]:
# use comperision operator to find out weather a givin variable a is greater than b or not.
# take a = 34 and b = 80

a = 34
b = 80
a>b

False

In [37]:
b>a

True

In [38]:
# wap to find average of two numbers entered by user

a = int(input("Enter a number "))
b = int(input("Enter a number "))
average = (a+b)/2
print(average)

Enter a number5
Enter a number7
6.0

In [42]:
# wap to calculate squre of a number entered by the user

a = int(input("Enter a number "))
squre = a*a
print("The squre of a no. is ", squre)

Enter a number 5
The squre of a no. is  25

## string

In [43]:
# it is a data type in python
# '' single quoted string
# "" double quoted string
# '''''' trpile quoted string

a = "tyagi's" #use double quotes if single quots in our string
a

"tyagi's"

## string slicing

In [44]:
greeting = "Good morning, "
name = "Vishal"
print(greeting + name) # concating 2 strings

Good morning, Vishal

In [45]:
name = "Vishal"
print(name[0]) # we only show that particular item. but can't change

V

In [46]:
print(name[0:4]) # string starts with 0 to length-1. 
# or it is use as[:4]

Vish

In [47]:
# negative indecing

name = "Vishal"
print(name[-2])

a

In [49]:
name = "Vishal"
print(name[-4:-1])

sha

In [50]:
name = "Vishal"
print(name[0:5:2])

Vsa

In [51]:
story = "once upon a time there was a youtuber named harry who uploded python course with notes."
print(len(story))

87

In [52]:
story = "once upon a time there was a youtuber named harry who uploded python course with notes."
print(story.endswith("notes"))

False

In [53]:
story = "once upon a time there was a youtuber named harry who uploded python course with notes."
print(story.endswith("notes."))

True

In [55]:
story = "once upon a time there was a youtuber named harry who uploded python course with notes."
print(story.count("a"))

5

In [57]:
story = "once upon a time there was a youtuber named harry who uploded python course with notes."
print(story.capitalize())

Once upon a time there was a youtuber named harry who uploded python course with notes.

In [58]:
story = "once upon a time there was a youtuber named harry who uploded python course with notes."
print(story.find("harry"))

44

In [59]:
story = "once upon a time there was a youtuber named harry who uploded python course with notes."
print(story.replace("harry", "Tyagi"))

once upon a time there was a youtuber named Tyagi who uploded python course with notes.

## escapes sequence character

In [62]:
story = "harry is good\nhe is very good"
print(story)

harry is good
he is very good

In [63]:
story = "harry is good\nhe\t is very good"
print(story)

harry is good
he	 is very good

In [64]:
story = "harry is good\'he is very good"
print(story)

harry is good'he is very good

In [65]:
story = "harry is good\\he is very good"
print(story)

harry is good\he is very good

In [66]:
# wap to display a user entered name followed by good afternoon using input() function

name = input("Enter your name ")
print("Good Afternoon,"+ name)

Enter your name Vishal Tyagi
Good Afternoon,Vishal Tyagi

In [67]:
name = input("Enter your name\n ")
print("Good Afternoon,"+ name)

Enter your name
 Vishal tyagi
Good Afternoon,Vishal tyagi

In [69]:
# wap to fill in a letter template given below name and date.
# letter = dear <|name|>
#                you are selected!
#                <|date|>


letter = ''' Dear<|Name|>,
you are selected
Date: <|Date|>'''
print(letter)

 Dear<|Name|>,
you are selected
Date: <|Date|>

In [73]:
letter = '''Dear<|Name|>,
greeting from ABC coding house. I m happy to tell you about your selection 
you are selected
Have a Great day ahead!
Date: <|Date|>'''

name = input("Enter your Name\n")
date = input("Enter Date\n")

letter = letter.replace("<|Name|>", name)
letter = letter.replace("<|Date|>", name)

print(letter)

Enter your Name
Vishal Tyagi
Enter Date
10 july
DearVishal Tyagi,
greeting from ABC coding house. I m happy to tell you about your selection
you are selected
Have a Great day ahead!
Date: Vishal Tyagi

In [74]:
# wap to delete double space in a string

st = "This is the string with double  spaces"
doublespaces = st.find("  ")
print(doublespaces)

30

In [75]:
st = "This is the string with double  spaces"
doublespaces = st.find("  ")
print(doublespaces)
st = st.replace("  "," ")
print(st)

30
This is the string with double spaces

In [77]:
# wap to format the following letter using escape sequence characters.
# letter = "dear harry, This python course is nice.Thanks!"

letter = "dear harry, This python course is nice.Thanks!"
print(letter)

formatted_letter = "dear harry, \n\tThis python course is nice.\nThanks!"
print(formatted_letter)

dear harry, This python course is nice.Thanks!
dear harry,
	This python course is nice.
Thanks!

## lists

In [78]:
a = [1,2,3,4,45,6]
a

[1, 2, 3, 4, 45, 6]

In [79]:
a = [1,2,3,4,45,6]
a[0]

1

In [80]:
a = [1,2,3,4,45,6]
a[3]

4

In [81]:
a = [1,2,3,4,45,6]
a[0] = 98 # change the value of list
a

[98, 2, 3, 4, 45, 6]

In [83]:
# we can create a list with the different types

a = [45,"Tyagi", False, 6.8]
a

[45, 'Tyagi', False, 6.8]

In [88]:
# list methods

l1 = [1,8,7,2,21,15]
l1.sort()
print(l1)

[1, 2, 7, 8, 15, 21]