In [1]:
# a company decided to give bonus 
# bonus of 5% to employ
# if his year of service is more then 5 years 
#and year of service and 
# print the net bonus amount.

year_of_service = 7
salary = 20000
if year_of_service>5:
    bonus = (salary*5)/100
    print(bonus)
else:
    print("No bonus apna kaam kr")

1000.0

In [2]:
#wap to add two no.
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
sum = a + b
print(sum)

Enter first number:9
Enter second number:8
17

In [8]:
# wap to find the max of two no....
a = int(input("enter a no."))
b = int(input("enter a no."))

if a>b:
    print("a is greater")
else:
    print("b is greater")

enter a no.87
enter a no.6584
b is greater

In [9]:
print("""twinkle twinkle, little star,
 how i wonder what you are!
 up avobe the world so high,
 like a diamond in the sky.""")

twinkle twinkle little star,
 how i wonder what you are!
 up avobe the world so high,
 like a diamond in the sky.

In [11]:
print("\ttwinkle twinkle, little star, \n\t how i wonder what you are!\n\t up avobe the world so high,\n\tlike a diamond in the sky.")

	twinkle twinkle, little star,
	 how i wonder what you are!
	 up avobe the world so high,
	like a diamond in the sky.

In [12]:
import sys
print("python version")
print(sys.version)
print("version info.")
print(sys.version_info)

python version
3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
version info.
sys.version_info(major=3, minor=9, micro=12, releaselevel='final', serial=0)

In [15]:
from math import pi
r = float(input("input thhe radius of the circle :"))
print("the area of the circle with radius" +  "is: " + str(pi * r**2))

input thhe radius of the circle :5
the area of the circle with radiusis: 78.53981633974483

In [20]:
# wap which accept the user first & last name and print them in reverse order with space in between
Fname = input("Enter your first name:-")
Lname = input("enter your last name:-")
print("Hello"  " " + Lname +  " " + Fname)

Enter your first name:-Vishal
enter your last name:-Tyagi
Hello Tyagi Vishal