## list

In [1]:
# list methods

l1 = [1,8,7,2,21,15]
l1.sort()
print(l1)

[1, 2, 7, 8, 15, 21]

In [2]:
# list methods

l1 = [1,8,7,2,21,15]
l1.reverse()
print(l1)

[15, 21, 2, 7, 8, 1]

In [3]:
# list methods

l1 = [1,8,7,2,21,15]
l1.append(3) # add at the end of the list
print(l1)

[1, 8, 7, 2, 21, 15, 3]

In [4]:
# list methods

l1 = [1,8,7,2,21,15]
l1.insert(0,5) # at 0 position add 5
print(l1)

[5, 1, 8, 7, 2, 21, 15]

In [5]:
# list methods

l1 = [1,8,7,2,21,15]
l1.pop(1)
print(l1)

[1, 7, 2, 21, 15]

In [6]:
# list methods

l1 = [1,8,7,2,21,15]
l1.remove(21) # remove 21 from the list
print(l1)

[1, 8, 7, 2, 15]

## tuples

In [7]:
# creting a tuple using()
t = (1,2,4,5)

# printing elements of tuple
print(t[0])

# we can't update tuple value

1

In [8]:
t1 = () # empty tuple
print(t1)

()

In [10]:
t = (1,) # tuple with single elements, it always use , 
print(t)

(1,)

In [11]:
# wap to store seven fruits in a list entered by the user.

f1 = input("Enter fruit number 1 ")
f2 = input("Enter fruit number 2 ")
f3 = input("Enter fruit number 3 ")
f4 = input("Enter fruit number 4 ")
f5 = input("Enter fruit number 5 ")
f6 = input("Enter fruit number 6 ")
f7 = input("Enter fruit number 7 ")

myfruitlist = [f1, f2, f3, f4, f5, f6, f7]
print(myfruitlist)

Enter fruit number 1 apple
Enter fruit number 2 banana
Enter fruit number 3 mango
Enter fruit number 4 guvava
Enter fruit number 5 grapes
Enter fruit number 6 orange
Enter fruit number 7 kiwi
['apple', 'banana', 'mango', 'guvava', 'grapes', 'orange', 'kiwi']

In [13]:
 # wap to accept marks of 6 students and display them in sorted manner
    
m1 = int(input("Enter marks for student number 1: "))
m2 = int(input("Enter marks for student number 2: "))
m3 = int(input("Enter marks for student number 3: "))
m4 = int(input("Enter marks for student number 4: "))
m5 = int(input("Enter marks for student number 5: "))
m6 = int(input("Enter marks for student number 6: "))

mylist =[m1, m2, m3, m4, m5, m6]
mylist.sort()
print(mylist)

Enter marks for student number 1: 52
Enter marks for student number 2: 53
Enter marks for student number 3: 54
Enter marks for student number 4: 62
Enter marks for student number 5: 64
Enter marks for student number 6: 63
[52, 53, 54, 62, 63, 64]

In [14]:
# change tuple test

a = (2,5,6,7)
a[0] = 9

TypeError: 'tuple' object does not support item assignment

In [15]:
# wap to sum a list with 4 numbers


a = (2,4,6,8)
print(a[0] + a[1] + a[2] + a[3])

20

In [16]:
print(sum(a))

20

In [18]:
# wap to count the number of zero in the following tuple
# a = (7,0,8,0,0,9)

a = (7,0,8,0,0,9)
a = a.count(0)
a

3

## dictonary

In [19]:
# it is collections of key and value pair

mydict = {
    "fast": "in a quick manner",
    "harry": "a coder"
}

print(mydict['fast'])

in a quick manner