In [1]:
name = "Tyagi"
age = 22
print(name)
print(age)

Tyagi
22

In [2]:
name = "Tyagi"
age = 22

name = "Vishal"
age = 23
print(name)
print(age)

Vishal
23

In [3]:
first_name = "Tony"
last_name = "Stark"
age = 52
is_genius = True
print()

In [4]:
name = input("what is your name")
print("hello" + name)

what is your nameVishal
helloVishal

In [5]:
name = input("what is your name")
print("hello " + name)

what is your nameVishal
hello Vishal

In [6]:
superhero = input("what is your superhero name?")
print(superhero)

what is your superhero name?Ram
Ram

In [7]:
first_name = input('write your first name ')
last_name = input('write your last name ')
age = int(input("enter your age"))
is_genius = True
print(first_name +" "+ last_name)
print(age)
print(is_genius)

write your first name Vishal
write your last name Tyagi
enter your age22
Vishal Tyagi
22
True

In [8]:
old_age = int(input("enter your old age"))
new_age = old_age + 2
print(new_age)

enter your old age20
22

In [9]:
num = 12
print(float(num))

12.0

In [10]:
num = float(12)
print(num)

12.0

In [11]:
# add two numbers
first = int(input("enter first number: "))
second = int(input("enter second number: "))
sum = first + second
print("The sum is" + sum)

enter first number: 2
enter second number: 3

TypeError: can only concatenate str (not "int") to str

In [13]:
# add two numbers
first = int(input("enter first number: "))
second = int(input("enter second number: "))
sum = first + second
print("The sum is " + str(sum))

enter first number: 2
enter second number: 3
The sum is 5

In [14]:
name = "Vishal Tyagi"
print(name.upper())

VISHAL TYAGI

In [15]:
name = "Vishal Tyagi"
print(name.lower())

vishal tyagi

In [16]:
name = "Vishal Tyagi"
print(name.find("a"))name = "Vishal Tyagi"
print(name.replace("Tyagi", "Tyagi ji"))

SyntaxError: invalid syntax (2142652850.py, line 2)

In [17]:
name = "Vishal Tyagi"
print(name.replace("Tyagi", "Tyagi ji"))

Vishal Tyagi ji

In [18]:
name = "Vishal Tyagi"
print(name.replace("Tyagi", "Tyagi ji"))
print(name)

Vishal Tyagi ji
Vishal Tyagi

In [19]:
name = "Vishal Tyagi"
print("T" in name)

True

In [20]:
name = "Vishal Tyagi"
print("m" in name)

False

In [21]:
# operators

print(5 + 2)

7

In [22]:
print(5 - 2)

3

In [23]:
print(5 * 2)

10

In [24]:
print(5 / 2)

2.5

In [25]:
print(5 // 2)

2

In [26]:
print(5 % 2)

1

In [27]:
print(5 ** 2)

25

In [28]:
i = 5
i = i +2
print(i)

7

In [29]:
i = 5
i += 2
print(i)

7

In [30]:
i = 5
i -= 2
print(i)

3

In [31]:
i = 5
i *= 2
print(i)

10

In [32]:
# comperision operator

print(3>2)

True

In [33]:
print(3<2)

False

In [34]:
print(3<=2)

False

In [35]:
print(3>=2)

True

In [36]:
print(3==2)

False

In [37]:
print(3==3)

True

In [38]:
print(3!=2)

True

In [39]:
print(3!=3)

False

In [40]:
# logical operators

print(2 > 3 or 2 > 1)

True

In [41]:
print(2 > 3 and 2 > 1)

False

In [42]:
print(2 < 3 and 2 > 1)

True

In [43]:
print(not 2 > 3)

True

## condition

In [44]:
# condition

age = int(input("enter your age"))
if age >= 18:
    print("you are an adult")
    print("you can vote")
elif age < 18 and age > 5:
    print("you are in school")
else:
    print("you are a kid")

enter your age22
you are an adult
you can vote

## mini project "calculator"

In [45]:
# mini project "calculator"

first = int(input("enter first number : "))
operator = input("enter operator(+,-,*,/,%): ")
second = int(input("enter second number : "))

if operator == "+":
    print(first + second)
    
elif operator == "-":
    print(first - second)
    
elif operator == "*":
    print(first * second)
    
elif operator == "/":
    print(first / second)
    
elif operator == "%":
    print(first % second)
    
else:
    print("invalid operator")

enter first number : 5
enter operator(+,-,*,/,%): *
enter second number : 6
30

## range

In [46]:
# range

number = range(5) # 0,1,2,3,4
print(number)

range(0, 5)

## loop

In [47]:
# loop

i = 1
while i <= 5:
    print(i)
    i = i +1

1
2
3
4
5

In [48]:
i = 0
while i <= 15:
    print(i)
    i = i +1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [49]:
i = 1
while i <= 5:
    print(i * "*")
    i = i +1

*
**
***
****
*****

In [50]:
i = 5
while i >= 0:
    print(i * "*")
    i = i-1

*****
****
***
**
*

In [51]:
for i in range(6):
    print (i)

0
1
2
3
4
5

In [52]:
for i in range(6):
    print (i + 1)

1
2
3
4
5
6

## list

In [53]:
# list []

marks = [95, 98,97]
print(marks)

[95, 98, 97]

In [54]:
marks = [95, 98,97]
print(marks[0])

95

In [55]:
marks = [95, 98,97]
print(marks[1])

98

In [56]:
marks = [95, 98,97]
print(marks[-1])

97

In [57]:
marks = [95, 98,97]
print(marks[-2])

98

In [58]:
marks = [95, 98,97]
print(marks[0:2])

[95, 98]

In [59]:
marks = [95, 98,97]
print(marks[0:3])

[95, 98, 97]

In [60]:
marks = [95, 98,97]
for score in marks:
    print(score)

95
98
97

In [61]:
marks = [95, 98,97]

marks.append(99)
print(marks)

[95, 98, 97, 99]

In [62]:
marks = [95, 98,97]

marks.insert(0,99)
print(marks)

[99, 95, 98, 97]

In [63]:
marks = [95, 98,97]

marks.insert(0,99)
print(99 in marks)

True

In [64]:
marks = [95, 98,97]

marks.insert(0,99)
print(len(marks))

4

In [65]:
# break & continue

students = ["ram","shysm", "kishan", "radha", "radhika"]
# only print the name when radha is not coming
for student in students:
    if student == "radha":
        break;
    print(student)

ram
shysm
kishan

In [66]:
students = ["ram","shysm", "kishan", "radha", "radhika"]
# if name == kisan then continue
for student in students:
    if student == "kishan":
        continue;
    print(student)

ram
shysm
radha
radhika

## tuple

In [67]:
# tuple() - it is immutable

marks = (95, 98, 97, 97, 97)
print(marks.count(97))

3

In [68]:
marks = (95, 98, 97, 97, 97)
print(marks.index(97))

2

## sets

In [69]:
# set{} - it can't store duplicates, index does not exist in sets, unordered

marks = {95, 98, 97, 97, 97}
person = 'ram','shyam', 'abhi'
print(person)

('ram', 'shyam', 'abhi')

In [70]:
marks = {95, 98, 97, 97, 97}
print(marks)

{97, 98, 95}

In [71]:
marks = {95, 98, 97, 97, 97}

for score in marks:
    print(score)

97
98
95

## Dictonary

In [72]:
# dictonary {} - it has key and value pair

marks = {"english": 95, "chemistry": 98}
print(marks["chemistry"])

98

In [73]:
marks = {"english": 95, "chemistry": 98}

print(marks["chemistry"])
marks["physics"] = 97;
print(marks)

98
{'english': 95, 'chemistry': 98, 'physics': 97}

In [74]:
marks = {"english": 95, "chemistry": 98}

print(marks["chemistry"])
marks["physics"] = 97;
print(marks)

marks["physics"] = 99;
print(marks)

98
{'english': 95, 'chemistry': 98, 'physics': 97}
{'english': 95, 'chemistry': 98, 'physics': 99}

## functions

In [75]:
# function.....

# in built function -- int, str, bool
# module function  -- related functions and related variavle store in same file -- as math module
# user define function

import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [76]:
from math import sqrt
print(sqrt(16))

4.0

In [77]:
# user defined function

# def function_name(perameters):

def print_sum(first, second):
    print(first + second)

print_sum(2, 3)

5

In [78]:

def print_sum(first, second = 4):
    print(first + second)

print_sum(2)

6